config SHIELD_CLINERY_SPLIT_V2_5_LEFT
    def_bool $(shields_list_contains,clinery_split_v2_5_left)

config SHIELD_CLINERY_SPLIT_V2_5_RIGHT
    def_bool $(shields_list_contains,clinery_split_v2_5_right)
